<ons-page class="ons">
<ons-toolbar>
  <div class="left">
    <%= link_to root_path, class: "btn-toolbar" do %>
      <i class="fa fa-arrow-left"></i> Back</div>
    <% end %>
  <div class="center">Public</div>
</ons-toolbar>

<ons-list>
  <% @users.each do |user| %>
    <ons-list-item modifier="chevron" class="list-item-container">
    <%= link_to user do %>
      <div class="list-item-left">
        <%= image_tag user.image, class: 'avator', alt: user.name %>
      </div>
      <div class="list-item-right">
        <div class="list-item-content">
          <div class="name"><%= user.screen_name %>
            <span class="lucent">@<%= user.name %></span>
          </div>

          <span class="desc"><%= user.description %></span>
        </div>
      </div>
      <% end %>
    </ons-list-item>
  <% end %>
</ons-list>
</ons-page>
