<%# ログイン後のdashboard画面 %>
<div class="users-header">
  <div class="container text-center">
    <h1><i class="fa fa-pie-chart"></i> My Data</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 text-center">
      <%# 1Weekのグラフ %>
      <h2>1Week</h2>
      <%= image_tag("icon_example.png", :alt => "仮アイコン", :class => "img-thumbnail") %>
    </div>
    <div class="col-xs-6 text-center">
      <%# 1Monthのグラフ %>
      <h2>1Month</h2>
      <%= image_tag("icon_example.png", :alt => "仮アイコン", :class => "img-thumbnail") %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-center">
      <%# 1Yearのグラフ %>
      <h2>1Year</h2>
      <%= image_tag("icon_example.png", :alt => "仮アイコン", :class => "img-thumbnail") %>
    </div>
    <div class="col-xs-6 text-center">
      <h2>Graph</h2>
      <%= image_tag("icon_example.png", :alt => "仮アイコン", :class => "img-thumbnail") %>
    </div>
  </div>
  <br><br>
  <%= link_to(fa_icon('slideshare', text: 'Follower'), users_path, class: 'btn btn-primary btn-lg btn-block') %>
</div>